<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Employee Code</th>
                        <th>Designation</th>
                    </tr> 
                    <tr>
                        <td>asha</td>
                        <td>123</td>
                        <td>intern</td>
                    </tr>  
                    <tr>
                        <td>sasha</td>
                        <td>113</td>
                        <td>trainee</td>
                    </tr>  
                    <tr>
                        <td>sya</td>
                        <td>143</td>
                        <td>manager</td>
                    </tr>  
                    <tr>
                        <td>ahh</td>
                        <td>183</td>
                        <td>intern</td>
                    </tr>  
                    <tr>
                        <td>asha</td>
                        <td>123</td>
                        <td>reporter</td>
                    </tr>  
                    <tr>
                        <td>wrgh</td>
                        <td>124</td>
                        <td>intern</td>
                    </tr>  
                    <tr>
                        <td>asha</td>
                        <td>123</td>
                        <td>intern</td>
                    </tr>   
                    <tr>
                        <td>nbbh</td>
                        <td>123</td>
                        <td>trainee</td>
                    </tr>  
                        
                        
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

