<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-success table-striped text-center">
                        <tr>
                            <th>Employee Code</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Salary</th>
                            <th>Phone No</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Jay</td>
                            <td>Engineer</td>
                            <td>32000</td>
                            <td>98745989810</td>
                        
                        </tr>
                        <tr>
                            <td>2345</td>
                            <td>Thd</td>
                            <td>Software Engineer</td>
                            <td>320000</td>
                            <td>45566667</td>
                           
                        </tr>
                        <tr>
                            <td>1004</td>
                            <td>Ram</td>
                            <td>Software Developer</td>
                            <td>32000</td>
                            <td>7894563210</td>
                            
                        </tr>
                        <tr>
                            <td>1005</td>
                            <td>Sam</td>
                            <td>Software Developer</td>
                            <td>90000</td>
                            <td>7894563210</td>
                            
                        </tr>
                        <tr>
                            <td>564</td>
                            <td>faba</td>
                            <td>FrontEnd</td>
                            <td>120000</td>
                            <td>7894563210</td>
                           
                        </tr>
                        <tr>
                            <td>125</td>
                            <td>Mahra</td>
                            <td>dshh</td>
                            <td>120000</td>
                            <td>7126788</td>
                            
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>ale</td>
                            <td>Backend Developer</td>
                            <td>150000</td>
                            <td>9895163210</td>
                            
                        </tr>
                        <tr>
                            <td>1009</td>
                            <td>Roys desi</td>
                            <td> Developer</td>
                            <td>25034000</td>
                            <td>98952788</td>
                            
                        </tr>
                        <tr>
                            <td>133</td>
                            <td>Alexander</td>
                            <td>Software Engineer</td>
                            <td>3500450</td>
                            <td>98951945</td>
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

