<app-navbar></app-navbar>

<div class="container">
    <div class="row g-3 mt-4">
        <!-- <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xxl-12 col-xl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> -->
                    <table class="table  table-striped text-center">
                        <thead>
                             <tr>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Salary</th>
                                <th>Phone No</th>
                                <th>Company Name</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of data">
                                <td>{{i.name}}</td>
                                <td>{{i.designation}}</td>
                                <td>{{i.salary}}</td>
                                <td>{{i.phonenumber}}</td>
                                <td>{{i.companyname}}</td>
                            
                            </tr>
                        </tbody>
                    </table>
    </div>
</div>


